.default-img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background-image: url(../images/desktop@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.is-hidden-btn {
    display: none;
}

header{
	border-bottom: 1px solid #00000033;
	@include mobile {
			height: 81px;
		}
	@include tablet {
			height: 106px;
		}
	@include desktop {
			height: 113px;
		}
}
.arrows {
    width: 0;
    height: 0;
    animation: arrow-up 3s infinite;
    cursor: pointer;
    caret-color:transparent;
    position: sticky;
    bottom: 10%;
    left: 70%;
    &:hover {
        animation-play-state: paused;
    }
	  @include tablet {
      left: 85%;
		}
	  @include desktop {
      left: 90%;
		}
}

.arrow-up {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--components-color);
    opacity: 0.9;
        &.arrow-up-bottom {
        bottom: 7vh;
    }
  }
  @keyframes arrow-up {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }