.default-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-image: url(../images/desktop@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}