h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	font-family: inherit;
}

footer,
header,
menu,
nav,
section {
	display: block;
}