@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto&display=swap');

body {
	font-family: Monrope, sans-serif;
	font-weight: 400;
	background: var(--pimary-bg-color);
	margin: 0;
	transition: color .25s cubic-bezier(.4, 0, .2, 1);
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.no-scroll {
	overflow: hidden;
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.dark-theme{
	--pimary-bg-color: #2E2E2E;
	--secondary-bg-color: #F4F4F4;
	
	--primary-text-color: #F4F4F4;
	--secondary-text-color: #111321;

	--primary-switcher-color: #5F6775;
	--secondary-switcher-color: #4B48DB;

	--primary-swither-border-color: #FFFFFF;
	--secondary-swither-border-color: #4B48DB;

	--primary-header-border: rgba(244, 244, 244, 0.2);
	--secondary-header-border: rgba(0, 0, 0, 0.2);

	--primary-close-btn-border-color: #FFFFFF;
	--secondary-close-btn-border-color: #111321;
}