@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto&display=swap");
:root {
  --pimary-bg-color: #F4F4F4;
  --secondary-bg-color: #686868;
  --primary-text-color: #111321;
  --secondary-text-color: #F4F4F4;
  --primary-switcher-color: #4B48DB;
  --secondary-switcher-color: #5F6775;
  --primary-swither-border-color: #4B48DB;
  --secondary-swither-border-color: #FFFFFF;
  --primary-header-border: rgba(0, 0, 0, 0.2);
  --secondary-header-border: rgba(244, 244, 244, 0.2);
  --white-color: #F4F4F4;
  --components-color: #4440F6;
  --dark-color: #111321;
  --grey-color: #A8A8A8;
  --white-color: #FFFFFF;
  --weather-bg-color: #4440F6;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: Monrope, sans-serif;
}

.default-img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  background-image: url(../images/desktop@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.is-hidden-btn {
  display: none;
}

header {
  border-bottom: 1px solid var(--primary-header-border);
}
@media screen and (min-width: 320px) {
  header {
    height: 81px;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 106px;
  }
}
@media screen and (min-width: 1280px) {
  header {
    height: 113px;
  }
}

.arrows {
  width: 0;
  height: 0;
  animation: arrow-up 3s infinite;
  cursor: pointer;
  caret-color: transparent;
  position: sticky;
  bottom: 10%;
  left: 70%;
}
.arrows:hover {
  animation-play-state: paused;
}
@media screen and (min-width: 768px) {
  .arrows {
    left: 85%;
  }
}
@media screen and (min-width: 1280px) {
  .arrows {
    left: 90%;
  }
}

.arrow-up {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--components-color);
  opacity: 0.9;
}
.arrow-up.arrow-up-bottom {
  bottom: 7vh;
}

@keyframes arrow-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  font-family: Monrope, sans-serif;
  font-weight: 400;
  background: var(--pimary-bg-color);
  margin: 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.dark-theme {
  --pimary-bg-color: #2E2E2E;
  --secondary-bg-color: #F4F4F4;
  --primary-text-color: #F4F4F4;
  --secondary-text-color: #111321;
  --primary-switcher-color: #5F6775;
  --secondary-switcher-color: #4B48DB;
  --primary-swither-border-color: #FFFFFF;
  --secondary-swither-border-color: #4B48DB;
  --primary-header-border: rgba(244, 244, 244, 0.2);
  --secondary-header-border: rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 288px;
  height: 540px;
}
@media screen and (min-width: 768px) {
  .card__wrapper {
    width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1280px) {
  .card__wrapper {
    width: 395px;
  }
}

.card__item--weather {
  background-color: #00dd73;
  width: 288px;
  height: 675px;
}
@media screen and (min-width: 768px) {
  .card__item--weather {
    width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1280px) {
  .card__item--weather {
    width: 395px;
  }
}

.card-image__wrapper {
  position: relative;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .card-image__wrapper {
    width: 353px;
  }
}
@media screen and (min-width: 1280px) {
  .card-image__wrapper {
    width: 395px;
  }
}

.card__image {
  filter: brightness(50%);
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card__image {
    width: 353px;
    height: 395px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .card__image {
    width: 395px;
    height: 395px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.card-jobsearching {
  display: block;
  width: 112px;
  height: 24px;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  text-align: center;
  padding-top: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--white-color);
  position: absolute;
  left: 0;
  top: 44px;
}

.card-already__read {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00dd73;
  position: absolute;
  right: 36px;
  top: 14px;
}

.card-already__read::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/galochka.svg");
  position: absolute;
  right: -24px;
  top: 0;
}

.card__btn {
  display: flex;
  justify-content: center;
  width: 126px;
  height: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  background: var(--white-color);
  border: none;
  border-radius: 20px;
  position: absolute;
  right: 8px;
  bottom: 12px;
}

.card__btn::after {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  background-image: url("../images/svg/heart_svg.svg");
  margin-left: 6px;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 176px;
}
@media screen and (min-width: 768px) {
  .card__text {
    height: 218px;
  }
}

.card__title {
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(--primary-text-color);
  margin-top: 20px;
  font-size: 24px;
  line-height: 33px;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 32px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .card__title {
    font-size: 32px;
    line-height: 44px;
  }
}

.card__article {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .card__article {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .card__article {
    font-size: 16px;
    line-height: 22px;
  }
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card__info--date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: var(--grey-color);
}
@media screen and (min-width: 768px) {
  .card__info--date {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .card__info--date {
    font-size: 16px;
    line-height: 22px;
  }
}

.card__info--readmore {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--components-color);
  border: none;
}
@media screen and (min-width: 768px) {
  .card__info--readmore {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .card__info--readmore {
    font-size: 16px;
    line-height: 22px;
  }
}

.underfined {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;
}
@media screen and (min-width: 768px) {
  .underfined {
    margin-top: 40px;
    margin-bottom: 101px;
  }
}
@media screen and (min-width: 1280px) {
  .underfined {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.underfined-hidden {
  display: none;
}

.underfined___title {
  font-family: Manrope;
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .underfined___title {
    font-size: 40px;
    line-height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .underfined___title {
    font-size: 40px;
    line-height: 55px;
  }
}

.underfined___picture {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 198px;
  background-image: url(../images/mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .underfined___picture {
    width: 560px;
    height: 444px;
    background-image: url(../images/tablet@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .underfined___picture {
    width: 601px;
    height: 478px;
    background-image: url(../images/desktop@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.calendar-input.isActive::-moz-placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.calendar-input.isActive::placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.calendar-input.isActive {
  background-color: #4440f6;
  color: #ffffff;
  border-color: #4440f6;
  border: 1px solid #4440f7;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-wrapper.is-hidden-wrapper {
  pointer-events: none;
}

.calendar-wrapper.is-hidden-wrapper > .calendar-wrapper__container {
  transform: translateY(-104%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.app-calendar {
  display: flex;
}

.calendar-form__text {
  display: none;
}
@media screen and (min-width: 1280px) {
  .calendar-form__text {
    display: inline;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    color: var(--primary-text-color);
    margin-left: 111px;
  }
}

.calendar-form {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .calendar-form {
    margin-left: 52px;
  }
}

.calendar-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  width: 152px;
  height: 31px;
  padding: 5px 12px;
  border: 1px solid var(--components-color);
  border-radius: 20px;
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .calendar-input {
    width: 168px;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    gap: 18px;
  }
}

.calendar__button-calendar {
  position: absolute;
  fill: #4440f6;
  margin-left: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-calendar.switchedColor {
  z-index: 1;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: #4440f6;
  right: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-arrow-icon {
  cursor: pointer;
}

.calendar__button-arrow.switched {
  fill: #ffffff;
  transform: rotateX(180deg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-back {
  fill: #4440f6;
}

.calendar-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  display: block;
  width: 250px;
  height: 350px;
  right: 0px;
  pointer-events: auto;
}

.calendar-wrapper__container {
  cursor: default;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  right: 0px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
  align-items: center;
}

.current-date {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: "case" on;
  color: #000000;
}

.calendar-icons {
  display: flex;
  color: #4440f6;
}

.calendar-icons span {
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 50%;
  fill: #4440f6;
  display: flex;
}

.calendar-icons span:last-child {
  margin-right: -10px;
}

.calendar-icons span:hover {
  background: #ffffff;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  width: 14.2857142857%;
  font-size: 1.07rem;
  margin-bottom: 14px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
}

.calendar .days li:nth-last-child(-n+7) {
  margin-bottom: 0;
}

.days li.active {
  color: #ffffff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #4440f6;
}

svg {
  --size: 1em;
  width: var(--size);
  height: var(--size);
}
@media screen and (min-width: 480px) {
  svg {
    --size: 25px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
}
@media screen and (min-width: 768px) {
  .main-nav {
    width: 51%;
  }
}
@media screen and (max-width: 767px) {
  .main-nav {
    width: auto;
    margin-left: 0;
    margin-right: auto;
  }
}

.main-nav .logo {
  margin-right: 96px;
}
@media screen and (max-width: 1279px) {
  .main-nav .logo {
    margin-right: 42px;
  }
}
@media screen and (max-width: 767px) {
  .main-nav .logo {
    margin-right: 0;
  }
}

.header-main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header-main-nav {
    justify-content: flex-end;
    height: 100%;
  }
}

/* SITE NAV */
.news-logo {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
}
@media screen and (max-width: 1279px) {
  .news-logo {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .news-logo {
    font-size: 24px;
  }
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 28px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #4440f6;
}

.studio.logo {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  gap: 60px;
  position: relative;
  top: 8px;
}
@media screen and (max-width: 1279px) {
  .site-nav {
    gap: 35px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.list {
  color: var(--primary-text-color);
}

.search-box {
  border-radius: 40px;
  position: absolute;
  top: 1%;
  left: 48%;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 768px) {
  .search-box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .search-box {
    display: none;
  }
}

.search-text {
  border-radius: 20px;
}

.search-btn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: tomato;
}

.search__input {
  margin-left: 147px;
  width: 288px;
  height: 31px;
  left: 681px;
  top: 51px;
  border-radius: 2px;
  border-radius: 20px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding: 32px 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1279px) {
  .site-nav .link {
    font-size: 16px;
  }
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #4b48db;
  cursor: pointer;
}

.contact-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.icon:hover {
  fill: var(--components-color);
  transition: 0.25;
}

.icon {
  fill: var(--primary-text-color);
  width: 16px;
  height: 15px;
}

/* =========================================================== */
@media screen and (max-width: 767px) {
  .search-container {
    display: none;
  }
}

.header-search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .header-search-form {
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .header-search-form {
    margin-top: -4px;
  }
}

.header-search__input {
  padding-left: 45px;
  width: 173px;
  height: 31px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--pimary-bg-color);
  border: 1px solid var(--primary-text-color);
  padding-top: 6px;
  font: inherit;
  transition: 0.25s;
}
@media screen and (min-width: 768px) {
  .header-search__input {
    width: 213px;
  }
}
@media screen and (min-width: 1200px) {
  .header-search__input {
    width: 288px;
  }
}
@media screen and (max-width: 767px) {
  .header-search__input:not(.active) {
    width: 0;
    padding: 19px;
    border-color: transparent;
  }
}

.header-search__input:focus {
  padding-top: 2px;
}

.header-search__input::-moz-placeholder {
  color: var(--primary-text-color);
  opacity: 0.4;
}

.header-search__input::placeholder {
  color: var(--primary-text-color);
  opacity: 0.4;
}

.header-search__field {
  position: relative;
}
.header-search-form button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 100%;
  border: none;
  color: var(--dark-color);
  transition: all 0.3s;
  background: none;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-search-form button {
    font-size: 17px;
  }
}

.header-search-form button:hover,
.header-search-form button:focus {
  color: var(--components-color);
}

.material-icons {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* =========================================================== */
.main-header .style-type {
  margin-top: 7px;
}
@media screen and (max-width: 767px) {
  .main-header .style-type {
    display: none;
  }
}

.modal-menu__icon-open {
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
}

.mobile-menu__open-btn {
  border: none;
  background-color: inherit;
  font-size: 19px;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-menu__open-btn {
    display: block;
  }
}

.mobile-menu__open-btn:focus,
.mobile-menu__open-btn:hover .mobile-menu__icon-open {
  fill: #2196f3;
  cursor: pointer;
}

.style-type {
  --circle-size: 16px;
  --circle-color-light: var(--components-color);
  --circle-color-dark: var(--white-color);
  --input-width: 40px;
  --input-height: 20px;
  --input-bd-size: 1px;
  --input-bd-color: var(--components-color);
  --input-bg-light: var(--white-color);
  --input-bg-dark: var(--components-color);
  display: flex;
  align-items: center;
}

.light {
  color: var(--primary-switcher-color);
}

.dark {
  color: var(--secondary-switcher-color);
}

@media screen and (max-width: 1279px) {
  .style-type .style-type__value {
    font-size: 15px;
  }
}

.style-type .style-type__value:first-child {
  margin-right: 14px;
}

.style-type .style-type__value:last-child {
  margin-left: 14px;
}

.style-type .style-type__input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.style-type .style-type__label {
  cursor: pointer;
  text-indent: -9999px;
  width: var(--input-width);
  height: var(--input-height);
  background: var(--input-bg-light);
  border: var(--input-bd-size) solid var(--primary-swither-border-color);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: 0.3s;
}

.style-type .style-type__label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: var(--circle-size);
  height: var(--circle-size);
  background: var(--circle-color-light);
  border-radius: 50%;
  transition: 0.3s;
}

.style-type .style-type__input:checked + .style-type__label {
  background: var(--input-bg-dark);
}

.style-type .style-type__input:checked + .style-type__label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background: var(--circle-color-dark);
}

.icon-mobile {
  margin-right: 14px;
  width: 32px;
  height: 32px;
}

.modal-menu__nav-item {
  color: var(--primary-text-color);
}

.filter-news {
  padding-top: 24px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-news {
    padding-top: 28px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .filter-news {
    padding-bottom: 60px;
  }
}
.filter-news__container {
  display: flex;
  position: relative;
}

.category {
  display: flex;
}
.category__menu {
  position: absolute;
  display: none;
  top: 32px;
  left: 16px;
  height: 380px;
  overflow-y: auto;
}
.category__menu::-webkit-scrollbar-thumb {
  background-color: var(--components-color);
  border-radius: 20px;
}
.category__menu::-webkit-scrollbar {
  width: 4px;
}
.category__menu::-webkit-scrollbar-track {
  background: transparent;
  size: 360px;
}
.category__menu::-webkit-scrollbar-track-piece:end {
  margin-bottom: 12px;
}
.category__menu::-webkit-scrollbar-track-piece:start {
  margin-top: 15px;
}
.category__menu.is-open-categories {
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding: 14px;
  background: var(--white-color);
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 768px) {
  .category__menu.is-open-categories {
    padding: 14px 24px;
    left: 430px;
  }
}
@media screen and (min-width: 1280px) {
  .category__menu.is-open-categories {
    left: 665px;
  }
}
.category__item:not(:last-child) {
  margin-bottom: 12px;
}
.category__btn,
.category .buttons-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 13px;
  color: var(--components-color);
  border: 1px solid #4B48DB;
  border-radius: 20px;
  background-color: var(--white-color);
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.3;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color var(--animation), color var(--animation);
}
@media screen and (min-width: 768px) {
  .category__btn,
  .category .buttons-list__button {
    padding: 7px 24px;
  }
}
.category__btn:focus, .category__btn:hover,
.category .buttons-list__button:focus,
.category .buttons-list__button:hover {
  background-color: var(--components-color);
  border: 1px solid #4B48DB;
  outline: none;
  color: var(--white-color);
}

.buttons-list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .buttons-list__item {
    margin-right: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-list__item {
    margin-right: 16px;
  }
}

.btn-item {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: var(--components-color);
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
  transition: -webkit-text-decoration var(--animation);
  transition: text-decoration var(--animation);
  transition: text-decoration var(--animation), -webkit-text-decoration var(--animation);
}
.btn-item:focus, .btn-item:hover {
  text-decoration: underline;
}

.arrow-icon {
  margin-left: 10px;
  fill: var(--components-color);
  width: 14px;
  height: 14px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-icon.open-categories {
  transform: rotate(180deg);
  fill: var(--white-color);
}

.category__btn:hover .arrow-icon,
.category__btn:focus .arrow-icon {
  fill: var(--white-color);
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 500ms;
}

.weather-container {
  margin: 0;
  width: 288px;
  height: 675px;
  background-color: var(--components-color);
  padding: 32px 36px 32px 36px;
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .weather-container {
    width: 353px;
    height: 675px;
    padding: 40px 53px 60px 53px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-container {
    width: 395px;
    height: 675px;
    padding: 40px 53px 60px 53px;
  }
}

.weather-top-card {
  display: flex;
}

.temperature-value {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.17;
  border-right: 1px solid var(--white-color);
  padding-right: 8px;
}
@media screen and (min-width: 768px) {
  .temperature-value {
    font-size: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .temperature-value {
    font-size: 64px;
  }
}

.temperature-description {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .temperature-description {
    font-size: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .temperature-description {
    font-size: 36px;
  }
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.location {
  min-width: 177px;
  min-height: 42px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  padding: 10px 17px 10px 35px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  position: relative;
}
@media screen and (min-width: 768px) {
  .location {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .location {
    font-size: 20px;
  }
}
.location:before {
  content: url(/src/images/svg/location.svg);
  position: absolute;
  left: 7px;
  bottom: 4px;
}

.weather-icon {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 60px auto 60px;
  text-align: center;
}
.weather-icon img {
  display: inline-block;
  width: 165px;
  height: 155px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.day,
.date {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .day,
  .date {
    font-size: 36px;
  }
}

.week-weather {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-button {
  min-width: 177px;
  min-height: 42px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  padding: 12px 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  border: none;
  color: inherit;
  transition: background-color 250ms ease;
}
@media screen and (min-width: 768px) {
  .weather-button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-button {
    font-size: 20px;
  }
}
.weather-button:hover,
.weather-button :focus {
  background: rgba(254, 254, 255, 0.5);
}

.weather-container__all {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.weather-week__container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 288px;
  height: 469px;
  padding: 45px 35px 60px 35px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms ease;
}
@media screen and (min-width: 768px) {
  .weather-week__container {
    width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-week__container {
    width: 395px;
    height: 675px;
    padding: 40px 53px 60px 53px;
  }
}

.weather-week__list p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.weather-week__forecast {
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .weather-week__forecast {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .weather-week__forecast {
    padding: 8px;
  }
}

.weather-week__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
}
@media screen and (min-width: 1280px) {
  .weather-week__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
  }
}

.weather-week__item:not(:last-child) {
  margin-bottom: 10px;
}

.weather-week-close-button {
  min-width: 177px;
  min-height: 42px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  text-align: center;
  padding: 12px 9px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  border: none;
  color: inherit;
  transition: background-color 250ms ease;
}
.weather-week-close-button:hover,
.weather-week-close-button :focus {
  background: rgba(254, 254, 255, 0.5);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .cards__list {
    gap: 29px;
  }
}
@media screen and (min-width: 1280px) {
  .cards__list {
    gap: 31px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding-top: 60px;
    padding-bottom: 150px;
  }
  .ellipsis {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #111321;
    padding-top: 8px;
  }
  .buttons {
    font-family: "Manrope";
    font-weight: 500;
    size: 14px;
    line-height: 1.36;
    width: 28px;
    height: 28px;
    color: #111321;
    border: 1px solid #4440F6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 2px;
         column-gap: 2px;
    cursor: pointer;
  }
  .buttons.prew-btn {
    width: 72px;
  }
  .buttons.next-btn {
    width: 72px;
  }
  .isActivePage {
    color: #F4F4F4;
    background: #4440F6;
  }
  .buttons.prew-btn:disabled {
    opacity: 0.4;
    cursor: default;
    border-color: gray;
  }
  .buttons.next-btn:disabled {
    opacity: 0.4;
    cursor: default;
    border-color: gray;
  }
}
@media screen and (min-width: 768px) {
  .thumb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination-list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding-top: 60px;
    padding-bottom: 150px;
  }
  .ellipsis {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #111321;
    padding-top: 8px;
  }
  .buttons {
    font-family: "Manrope";
    font-weight: 500;
    size: 16px;
    line-height: 1.22;
    width: 33px;
    height: 31px;
    color: #111321;
    border: 1px solid #4440F6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 2px;
         column-gap: 2px;
    cursor: pointer;
  }
  .buttons:not(:disabled):hover, .buttons:not(:disabled):focus {
    background-color: var(--components-color);
    color: #F4F4F4;
  }
  .buttons.prew-btn {
    width: 82px;
  }
  .buttons.next-btn {
    width: 78px;
  }
  .isActivePage {
    color: #F4F4F4;
    background: var(--components-color);
  }
  .isActivePage.buttons:hover, .isActivePage.buttons:focus {
    background-color: #F4F4F4;
    color: var(--components-color);
  }
  .buttons.prew-btn:disabled {
    opacity: 0.4;
    cursor: default;
    border-color: gray;
  }
  .buttons.next-btn:disabled {
    opacity: 0.4;
    cursor: default;
    border-color: gray;
  }
}
.small-paginator-back-btn {
  margin-right: 100px;
}

.small-paginator-back-btn,
.small-paginator-next-btn {
  margin-top: 40px;
  margin-bottom: 100px;
}

.modal-menu__conteiner {
  --padding: 16px;
  position: fixed;
  transform: translateX(200%);
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 13px 0;
  background-color: var(--pimary-bg-color);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
}
.modal-menu__conteiner > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.modal-menu__conteiner.is-open {
  transform: translateX(0);
}

.modal-menu__close-btn {
  position: absolute;
  top: 32px;
  right: 25px;
  justify-content: flex-end;
  border: none;
  background-color: inherit;
  font-size: 15px;
  fill: var(--primary-bg-color);
}

.modal-menu__icon-close {
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0;
  fill: var(--primary-bg-color);
}

.modal-menu__close-btn:focus,
.modal-menu__close-btn:hover .modal-menu__icon-close {
  fill: #2196f3;
  cursor: pointer;
}

.modal-menu__top {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-menu__top .logo {
  padding-left: var(--padding);
}

.modal-menu__top .style-type {
  margin-top: auto;
  margin-left: var(--padding);
  margin-bottom: 20px;
}

.modal-menu__nav {
  margin-top: 56px;
}

.modal-menu__nav,
.modal-menu__contacts-list,
.modal-menu__icons {
  list-style: none;
}

.modal-menu__nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  min-height: 44px;
  padding: 0 var(--padding);
}
.modal-menu__nav-link .icon {
  margin-right: 14px;
  font-size: 32px;
}
.modal-menu__nav-link:hover, .modal-menu__nav-link.current {
  background-color: var(--components-color);
  color: var(--white-color);
}
.modal-menu__nav-link:hover .icon, .modal-menu__nav-link.current .icon {
  stroke: var(--white-color);
}

.modal-menu__nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.modal-menu__number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.modal-menu__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-menu__contact:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__icon {
  position: relative;
  margin-right: 20px;
}
.modal-menu__icon:not(:last-child):after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  right: -10px;
}

.modal-soc-menu__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  list-style: none;
}

.modal-menu__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.modal-menu__icon-open {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}

.mobile-menu__open-btn {
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .mobile-menu__open-btn {
    display: none;
  }
}

.mobile-menu__open-btn:focus,
.mobile-menu__open-btn:hover .mobile-menu__icon-open {
  fill: var(--components-color);
  cursor: pointer;
}

.read-news__container {
  padding: 40px 0 60px;
}

.read-news__header {
  display: flex;
  gap: 8px;
  color: var(--primary-text-color);
  border-bottom: 1px solid #929292;
  margin-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.02em;
}

.read-news__header::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../images/svg/arrow_up_svg.svg");
  margin-left: 6px;
  display: inline-block;
  transition: all ease-in-out 0.2s;
  color: #111321;
}

.read-news__header.hidden::after {
  transform: rotate(180deg);
  transition: all ease-in-out 0.2s;
  color: currentColor;
}

.read-news__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  transition: opacity 450ms ease-in-out, transform 250ms ease-in-out, visibility 450ms ease-in-out;
  transition: top center;
  list-style: none;
}

.read-news__items.hidden {
  display: none;
  transition: transform 250ms ease-in-out;
}

.favorite-container {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .favorite-container {
    padding-top: 48px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite-container {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}

.favorite-not-found {
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .favorite-not-found {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite-not-found {
    margin-top: 60px;
  }
}
.favorite-not-found .underfined___title {
  display: flex;
  justify-content: center;
}
.favorite-not-found .underfined___title.visible {
  display: none;
}

.favorite-container .card__list {
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .favorite-container .card__list {
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .favorite-container .card__list {
    gap: 30px;
  }
}
.favorite-container .card__item--weather {
  display: none;
}
.favorite-container .btn-add {
  display: none;
}
.favorite-container .card__item {
  list-style: none;
}

.card__btn.btn-remove {
  width: 168px;
}

.card__btn.btn-remove::after {
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url("../images/svg/dar_heart_svg.svg");
  margin-left: 6px;
}