@import './utilits/variables';
@import './utilits/mixins';

@import './components/container';
@import './components/article-card';
@import './components/negative-search';
@import './components/section';
@import './components/calendar';

@import './common';

@import './base/common';
@import './base/reset';

@import './layouts/header';
@import './layouts/home-page-categories';
@import './layouts/home-page';
@import './layouts/pagination';
@import './layouts/burger-menu';
@import './layouts/footer';
@import './layouts/read';
