<script type="module" src="./js/burgerMenu.js"></script>
<div class="modal-menu__conteiner js-menu-container">
    <div class="modal-menu__top">
        <a href="/src/index.html" class="logo link">
            <span class="news-logo">News</span>
        </a>
        <button class="modal-menu__close-btn js-close-menu">
          <svg class="modal-menu__icon-close">
            <use href="images/icons.svg#icon-close_24px"></use>
          </svg>
        </button>
        <ul class="modal-menu__nav">
            <li class="modal-menu__nav-item">
                <a href="" class="modal-menu__nav-link">
                    <svg class="icon"><use href="images/icons.svg#icon-home_svg"></use></svg> Home
                </a>
            </li>
            <li class="modal-menu__nav-item">
                <a href="#" class="modal-menu__nav-link">
                    <svg class="icon"><use href="images/icons.svg#icon-favorite_svg"></use></svg> Favorite
                </a>
            </li>
            <li class="modal-menu__nav-item">
                <a href="" class="modal-menu__nav-link">
                    <svg class="icon"><use href="images/icons.svg#icon-read_svg"></use></svg> Read
                </a>
            </li>
        </ul>
        <div class="style-type">
            <label for="switch-style2" class="style-type__value">Light</label>
            <input type="checkbox" id="switch-style2" class="style-type__input" />
            <label for="switch-style2" class="style-type__label">Toggle</label>
            <label for="switch-style2" class="style-type__value">Dark</label>
        </div>
    </div>
</div>