<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"/>
  </head>
  <body>

    <footer class="footer-distributed">
     <div class="gallery container">
      <div class="footer-left">
        <p class="footer-links">
          <a href="/src/index.html">Home</a>
          ·
          <a href="/src/favorite.html">Favorite</a>
          ·
          <a href="./read.html">Read</a>
          <div class="footer-links ua">
          <a
			 target="_blank"
            href="https://savelife.in.ua/donate/#donate-army-card-monthly"
            class="help-link"
            >Stand with Ukraine</a>
            </div>
        </p>

        <div class="footer-icons">
          <a target="_blank" href="https://www.facebook.com/" class="social-link"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a target="_blank" href="https://twitter.com/i/flow/login" class="social-link"
            ><i class="fab fa-twitter"></i
          ></a>
          <a target="_blank" href="https://www.instagram.com/" class="social-link"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            target="_blank" href="https://daria-misko.github.io/team-project-js/index.html"
            class="social-link"
            ><i class="fab fa-github"></i
          ></a>
        </div>

        <p class="footer-company-name">Your favorite News © 2023</p>
      </div>
       
      <div class="footer-right">
        <form action="#" method="post">
          <input type="text" name="email" placeholder="Email" />
          <textarea name="message" placeholder="Message"></textarea>
          <button>Send</button>
        </form>
      </div>
      </div>
    </footer>
  </body>
</html> 

