.underfined {
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 59px;


@media screen and (min-width: 768px) {
  margin-top: 40px;
  margin-bottom: 101px;
} 

@media screen and (min-width: 1280px) {
   margin-top: 60px;
   margin-bottom: 60px;
}
 
&-hidden {
    display: none;
  }

}

.underfined___title {
  font-family: Manrope;
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 20px;
  line-height: 27px; 

@media screen and (min-width: 768px) {
  font-size: 40px;
  line-height: 55px;
}

@media screen and (min-width: 1280px) {
   font-size: 40px;
   line-height: 55px;
  }
}

.underfined___picture {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 198px;
  background-image: url(../images/mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

@media screen and (min-width: 768px) {
  width: 560px;
  height: 444px;
  background-image: url(../images/tablet@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 1280px) {
  width: 601px;
  height: 478px;
  background-image: url(../images/desktop@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

}