.gallery {
  @mixin mobile {
    @media screen and (min-width: 320px) {
      max-width: 320px;
      ;
    }
  }

  @mixin tablet {
    @media screen and (min-width: 768px) {
      max-width: 768px;
      
    }
  }

  @mixin desktop {
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }
}