.favorite-not-found {
    display: none;
    align-items: center;
    flex-direction: column;
    
.underfined___title {
    display: none;
    }
.underfined___title.visible {
    display: block;
    }
     }

.favorite-container {
    .card__item--weather{
        display: none;
        }
    .btn-add {
        display: none;
        }
    }

  