.favorite-container {
    padding-top: 40px;
    padding-bottom: 60px;

@media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 100px;
    } 

@media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 300px;
    } 
}

.favorite-not-found {
    // display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;

@media screen and (min-width: 768px) {
    margin-top: 48px;
    } 

@media screen and (min-width: 1280px) {
    margin-top: 60px;
    }
    
.underfined___title {
    display: flex;
    justify-content: center;
    }
.underfined___title.visible {
    display: none;
    }
      }

.favorite-container {

.card__list {
    gap: 28px;
@media screen and (min-width: 768px) {
    gap: 30px;
    }

@media screen and (min-width: 1280px) {
    gap: 30px;
    }

}

.card__item--weather{
    display: none;
    }
.btn-add {
    display: none;
    }      
        
.card__item {
    list-style: none;
    }
}

.card__btn.btn-remove {
    width: 168px;
    } 
.card__btn.btn-remove::after {
    content: '';
    display: flex;
    width: 16px;
    height: 16px;
    background-image: url('../images/svg/dar_heart_svg.svg');
    margin-left: 6px;
    }   
