.filter-news {
    padding-top: 24px;
	padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 28px;
			padding-bottom: 48px;
    }

    @media screen and (min-width: 1280px) {
		  padding-bottom: 60px;
    }

    &__container {
        display: flex;
        position: relative;
    }
}

.category {
    display: flex;

    &__menu {
        position: absolute;
        display: none;
        top: 32px;
        left: 16px;

        height: 380px;

        overflow-y: auto;

        &::-webkit-scrollbar-thumb {
            background-color: var(--components-color);
            border-radius: 20px;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            size: 360px;
        }

        &::-webkit-scrollbar-track-piece:end {
            margin-bottom: 12px;
        }

        &::-webkit-scrollbar-track-piece:start {
            margin-top: 15px;
        }

        &.is-open-categories {
            display: flex;
            flex-direction: column;
            z-index: 999;

            padding: 14px;
            background: var(--white-color);
            border-radius: 20px;
            filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));

            @media screen and (min-width: 768px) {
                padding: 14px 24px;
                left: 430px;
            }

            @media screen and (min-width: 1280px) {
                left: 665px;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__btn,
    .buttons-list__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 13px;

        @media screen and (min-width: 768px) {
            padding: 7px 24px;
        }

        color: var(--components-color);

        border: 1px solid #4B48DB;
        border-radius: 20px;
        background-color: var(--white-color);

        font-family: var(--main-font);
        font-size: 12px;
        line-height: 1.3;

        cursor: pointer;

        white-space: nowrap;

        transition: background-color var(--animation),
        color var(--animation);

        &:focus,
        &:hover {
            background-color: var(--components-color);
            border: 1px solid #4B48DB;
            outline: none;
            color: var(--white-color);
        }
    }
}

.buttons-list {
    display: flex;

    &__item {
        @media screen and (min-width: 768px) {
            margin-right: 14px;
        }

        @media screen and (min-width: 1280px) {
            margin-right: 16px;
        }
    }
}

.btn-item {
    width: 100%;
    height: 100%;

    padding: 0;

    font-family: var(--main-font);
    font-size: 12px;
    line-height: 1.3;
    text-align: left;
    color: var(--components-color);

    border: none;
    background-color: var(--white-color);

    cursor: pointer;

    transition: text-decoration var(--animation);

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.arrow-icon {
    margin-left: 10px;
    fill: var(--components-color);
	 width: 14px;
	 height: 14px;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.arrow-icon.open-categories {
    transform: rotate(180deg);
    fill: var(--white-color);
}

.category__btn:hover .arrow-icon,
.category__btn:focus .arrow-icon {
    fill: var(--white-color);

    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}