.read-news__container {
    padding: 40px 0 60px;

    @mixin tablet {
        @media screen and (min-width: 768px) {
           padding: 48px 0 100px;
        }
    }

    @mixin desktop {
        @media screen and (min-width: 1280px) {
            padding: 60px 0 160px;
        }
    }
}

.read-news__header {
    display: flex;
    gap: 8px;
    color: var(--primary-text-color);
    border-bottom: 1px solid #929292;
    margin-bottom: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.02em;
}

.read-news__header::after {
    content: "";
    width: 15px;
    height: 15px; 
    background-image: url("../images/svg/arrow_up_svg.svg") ;
    margin-left: 6px;
    display: inline-block;
    transition: all ease-in-out 0.2s;
    color: #111321;
}


.read-news__header.hidden::after {
    transform: rotate(180deg);
    transition: all ease-in-out 0.2s;
    color: currentColor;
}

.read-news__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    transition: opacity 450ms ease-in-out, transform 250ms ease-in-out,
    visibility 450ms ease-in-out;
    transition: top center;
     list-style: none;
    @mixin tablet {
            @media screen and (min-width: 768px) {
                padding: 40px;
            }
        }
    
        @mixin desktop {
            @media screen and (min-width: 1280px) {
                margin-top: 40px;
            }
        }
}

.read-news__items.hidden {
    display: none;
    transition: transform 250ms ease-in-out;
}


