.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: 500ms;
}

.weather-container {
	margin: 0;
	width: 353px;
	height: 675px;
	background-color: var(--components-color);
	padding: 40px 32px 60px 32px;
	font-family: 'Roboto', sans-serif;
	color: var(--white-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include tablet {}

	@include desktop {
		width: 395px;
		height: 675px;
		padding: 40px 53px 60px 53px;
	}
}

.weather-top-card {

	display: flex;
}

.temperature-value {
	font-weight: 400;
	font-size: 64px;
	line-height: 1.17;
	border-right: 1px solid var(--white-color);
	padding-right: 8px;
}

.temperature-description {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.16;
}

.description-wrapper {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}

.location {
	min-width: 177px;
	min-height: 42px;
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	padding: 10px 17px 10px 35px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	position: relative;

	&:before {
		content: url(/src/images/svg/location.svg);
		position: absolute;
		left: 7px;
		bottom: 4px;
	}
}

.weather-icon {
	height: auto;
	max-width: 100%;
	display: block;
	margin: 60px auto 60px;
	text-align: center;

	img {
		display: inline-block;
		width: 165px;
		height: 155px;
		object-position: 50% 50%;
		object-fit: cover;
	}
}

.day,
.date {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin: 0;
	margin-bottom: 5px;
}

.week-weather {
	margin-top: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.weather-button {
	min-width: 177px;
	min-height: 42px;
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	text-align: center;
	padding: 12px 9px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	border: none;
	color: inherit;
	transition: background-color 250ms ease;

	&:hover,
	:focus {
		background: rgba(254, 254, 255, 0.5);
	}

}
.weather-container__all {
	position: relative;
	width: fit-content;
}

.weather-week__container {
	position: absolute;
	// z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
	width: 288px;
	height: 469px;
	padding: 45px 35px 60px 35px;

	@include tablet {
		width: 353px;
		height: 675px;
	}

	@include desktop {
		width: 395px;
		height: 675px;
		padding: 40px 53px 60px 53px;
	}

	margin: 0;
	font-family: 'Roboto',
	sans-serif;
	color: #FFFFFF;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 250ms ease;
}

.weather-week__list {
	p {
		font-size: 30px;
		text-align: center;
		margin-bottom: 20px;
		text-decoration: underline;
	}
}

.weather-week__forecast {
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	padding: 4px;

	@include desktop {
		padding: 8px;
	}
}

.weather-week__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.16;

	@include tablet {}

	@include desktop {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.16;
	}
}

.weather-week__item:not(:last-child) {
	margin-bottom: 10px;
}

.weather-week-close-button {
	min-width: 177px;
	min-height: 42px;
	background: rgba(254, 254, 255, 0.3);
	border-radius: 10px;
	text-align: center;
	padding: 12px 9px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.15;
	border: none;
	color: inherit;

	transition: background-color 250ms ease;

	&:hover,
	:focus {
		background: rgba(254, 254, 255, 0.5);
	}
}